@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-web.eot");
  src: url("../../assets/fonts/gt-walsheim-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-web.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-regular-oblique-web.eot");
  src: url("../../assets/fonts/gt-walsheim-regular-oblique-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-regular-oblique-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-regular-oblique-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-regular-oblique-web.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-medium-web.eot");
  src: url("../../assets/fonts/gt-walsheim-medium-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-medium-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-medium-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-medium-web.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-light-web.eot");
  src: url("../../assets/fonts/gt-walsheim-light-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-light-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-light-web.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-light-oblique-web.eot");
  src: url("../../assets/fonts/gt-walsheim-light-oblique-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-light-oblique-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-light-oblique-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-light-oblique-web.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-bold-web.eot");
  src: url("../../assets/fonts/gt-walsheim-bold-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-bold-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-bold-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-bold-web.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../../assets/fonts/gt-walsheim-bold-oblique-web.eot");
  src: url("../../assets/fonts/gt-walsheim-bold-oblique-web.eot") format("embedded-opentype"),
       url("../../assets/fonts/gt-walsheim-bold-oblique-web.woff") format("woff"),
       url("../../assets/fonts/gt-walsheim-bold-oblique-web.ttf") format("truetype"),
       url("../../assets/fonts/gt-walsheim-bold-oblique-web.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "iconmeetup";
  SRC: url("../../assets/fonts/iconmeetup.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "iconmeetup";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meetup:before {
  content: "\e900";
}
